* text=auto eol=lf
*.py text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.cff text eol=lf
*.bib text eol=lf
*.ipynb text eol=lf
LICENSE text eol=lf
*.npz binary
